body {
  background-color: white;
}

body {
  background-color: white;
}

body {
  background-color: white;
}

body {
  background-color: white;
}

@keyframes moveIn {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1.7;
  color: #777;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  width: 100%;
}

nav img {
  padding-top: 2rem;
  padding-left: 4%;
  height: 10rem;
}

.block {
  display: block;
}

header {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url(../img/landing.png);
  background-position: center;
  background-size: cover;
}

.header {
  top: 20%;
  position: absolute;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 0 4%;
  height: 100%;
}

.header__welcome {
  font-size: 2.5rem;
  font-weight: 400;
  background-clip: padding-box;
  -webkit-background-clip: text;
  color: transparent;
  animation-name: moveIn;
  animation-duration: 1s;
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

.about__welcome {
  font-size: 2.5rem;
  font-weight: 400;
  background-clip: padding-box;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

.header__title {
  font-size: 4rem;
  font-weight: 900;
  background-clip: padding-box;
  -webkit-background-clip: text;
  color: transparent;
  animation-name: moveRight;
  animation-duration: 1s;
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

.description {
  font-size: 1.5rem;
  border: 4px solid #fff;
  padding: 0 1rem;
  background-color: #fff;
}

.header__time-adress {
  margin-top: 2rem;
}

.header__time {
  font-weight: 900;
  font-size: 2.5rem;
}

.header__address {
  font-size: 1.5rem;
}

.main-program {
  height: auto;
  background-image: url(../img/mp-bg.png);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-program__header {
  color: #fff;
  margin: 4rem 0;
  display: flex;
  width: 50%;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  padding: 0 2rem;
}

hr.line {
  width: 8rem;
  border: 1px solid #ec5242;
}

.Main-program__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba(119, 119, 119, 0.4);
  padding: 1%;
  margin: 1% 3%;
}

.card__right > p {
  color: white;
  font-size: 1.5rem;
}

.card__left {
  display: flex;
  align-items: center;
}

.card__left img {
  width: 5rem;
}

.card__left > p {
  font-weight: 700;
  font-size: 2rem;
  color: #ec5242;
  padding: 0 2rem;
}

.main-program__join {
  background-color: #ec5242;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  padding: 2rem 3rem;
  margin: 3rem 0;
}

/* mobile menu */
.mobile-menu {
  display: none;
  z-index: 100;
  background-color: #272a31;
  height: 100vh;
  width: 100vw;
  position: relative;
  animation: all 2s step-end;
}

.mobile-menu__button {
  display: flex;
  flex-direction: row-reverse;
  padding: 3rem 3rem;
}

.mobile-menu__links {
  list-style: none;
  margin-left: 4%;
}

.mobile-minu__link {
  text-decoration: none;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  padding: 0 2rem;
}

.disapear {
  display: block !important;
}

.disapear1 {
  display: none !important;
}

/* about Page */
.about__title {
  font-size: 4rem;
  font-weight: 900;
  background-clip: padding-box;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

.about-header {
  top: 20%;
  position: absolute;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 4%;
  height: 100%;
}

.about-description {
  font-size: 1.5rem;
  border: 4px solid rgba(119, 119, 119, 0.1);
  padding: 0 1rem;
  background-color: #fff;
}

.about__time-adress {
  margin-top: 2rem;
}

.about__time {
  font-weight: 900;
  font-size: 2rem;
  color: #777;
}

.about__address {
  font-size: 1.5rem;
}

.about-program__header {
  color: #777;
  margin: 4rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  padding: 0 2rem;
  text-align: center;
  background-color: white;
  width: 100vw;
  height: auto;
}

.take-look p {
  font-size: 1.5rem;
  text-align: center;
}

div.info-header p {
  color: rgb(216, 40, 40);
  font-style: italic;
}

.about__sample {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
  text-align: center;
  margin: 2rem 4%;
  background-image: linear-gradient(rgba(232, 51, 19, 0.3960784314), rgba(174, 82, 66, 0.8039215686)), url("../img/conference1.jpg");
  background-size: cover;
  background-position: center;
}

.about__sample1:hover {
  background-image: linear-gradient(rgba(232, 51, 19, 0), rgba(174, 82, 66, 0)), url("../img/conference2.jpg");
}

.about__sample:hover {
  background-image: linear-gradient(rgba(232, 51, 19, 0), rgba(174, 82, 66, 0)), url("../img/conference1.jpg");
}

div.about__sample1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
  text-align: center;
  margin: 2rem 4%;
  background-image: linear-gradient(rgba(232, 51, 19, 0.3960784314), rgba(174, 82, 66, 0.8039215686)), url("../img/conference2.jpg");
  background-size: cover;
  background-position: center;
}

.summit {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.take-look {
  padding: 0 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.summit__title {
  color: #272a31;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1rem;
}

.summit__details {
  font-weight: 400;
  font-size: 1.2rem;
}

.about__loggo {
  border: 2px solid #777;
  display: inline-flex;
  justify-content: center;
  padding: 2rem;
  margin: 2rem 0;
  width: 50%;
}

.sample {
  color: white;
  display: inline-block;
  font-size: 1.5rem;
}

.about__sample:hover .sample h2,
.about__sample:hover .sample p,
.about__sample1:hover .sample h2,
.about__sample1:hover .sample p {
  visibility: hidden;
}

/* partners section */
.partners {
  background-color: #272a31;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loggo {
  margin: 0 20px;
}

.loggo ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.loggo ul li {
  padding: 10px 20px 0 0;
}

.loggo img {
  width: 20vw;
  list-style: none;
}

footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px;
  margin: 20px;
}

.footer__copright {
  padding: 0 20px;
  text-align: center;
  align-items: center;
  display: flex;
}

.footer__logo {
  display: flex;
  justify-content: center;
}

div.footer__logo > img {
  width: 50%;
  border-radius: 50%;
}

/* speackers part */
#featured__speakers {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#featured__speakers h2 {
  color: #272a31;
  font-weight: 700;
  font-size: 2rem;
}

div.speaker-card {
  margin: 2rem 0;
  display: flex;
}

.speaker-container {
  display: flex;
  flex-direction: column;
}

div.images {
  width: 170px;
  height: 100px;
  background-image: url("../img/squared-bg.png");
  background-position: top left;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

div.images img {
  width: 100px;
  object-fit: cover;
}

.line-below {
  margin: 10px 0;
  width: 30px;
  height: 2px;
  background-color: rgb(165, 161, 161);
}

.line-red {
  margin: 10px 250px;
  height: 2px;
  background-color: rgb(216, 40, 40);
}

.speaker-details {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.speaker-btn {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #000;
  font-size: 16px;
  font-weight: 700;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.speaker-btn svg {
  padding-right: 4px;
}

.social-nav,
.main-nav {
  display: none;
}

.click {
  background-color: rgba(255, 255, 255, 0.626);
  z-index: 500;
}

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveIn {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@media (min-width: 768px) and (max-width: 941px) {
  .summit,
.lost {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 100%;
  }

  img.mob-click,
nav {
    display: none;
  }

  .social-nav {
    display: flex;
    flex-direction: row-reverse;
    background-color: #272a31;
    align-items: center;
    padding: 0.1%;
    padding-right: 15%;
  }

  .social-nav ul {
    display: flex;
    list-style: none;
  }

  .loggo img {
    width: 13vw;
    list-style: none;
  }

  .social-nav ul li a img {
    filter: brightness(0) invert(1);
    width: 1rem;
  }

  .social-nav ul li {
    display: flex;
    align-items: center;
  }

  .main-nav a {
    text-decoration: none;
    color: #777;
  }

  .social-nav ul li a {
    margin: 0.5rem;
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
  }

  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1% 15%;
  }

  .main-nav ul {
    display: flex;
    list-style: none;
  }

  .loggo ul li {
    padding: 2rem 1rem;
  }

  .main-nav ul li:not(:last-child) {
    margin-right: 2rem;
  }

  .main-logo {
    height: 3rem;
    display: flex;
  }

  #mob-menu {
    height: 100%;
  }

  .summit {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  .main-nav ul li a {
    text-decoration: none;
    font-weight: 700;
    color: #777;
  }

  .main-nav ul li a:hover,
.main-nav ul li:hover {
    transform: skew(-200deg);
    color: #ec5242;
  }

  .main-nav ul li:last-child {
    border: 2px solid #ec5242;
    padding: 0.2rem 0.5rem;
  }

  .header {
    top: 30%;
    padding: 0 15%;
  }

  .block {
    display: inline;
  }

  .blk {
    display: block;
  }

  .header__title {
    font-size: 3.5rem;
  }

  .desktop-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .card__left {
    flex-direction: column;
  }

  .card__left p {
    font-size: 1.5rem;
  }

  .card__right p {
    font-size: 1rem;
    text-align: center;
  }

  .Main-program__cards {
    padding: 1%;
    margin: 1% 0.2rem;
    width: 13rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .Main-program__cards:hover {
    transform: skewY(188deg);
  }

  .main-program__join {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 2rem 3rem;
    margin: 3rem 0;
  }

  .main-program__header {
    margin: 2rem 0;
  }

  .main-logo:hover {
    animation: all 0.5s ease-in;
  }

  .about-description {
    margin: 2rem 12%;
  }

  .take-look p {
    font-size: 1.2rem;
  }

  .about__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 12%;
  }

  .about__sample1 {
    margin: 0;
  }

  .speaker-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 10%;
  }
}
.main-logo {
  height: 3rem;
  display: flex;
}

body {
  background-color: white;
}

body {
  background-color: white;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 2s;
  position: relative;
  font-size: 1.6rem;
}

.btn-white {
  color: #777;
  background-color: white;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.5);
  opacity: 0;
}

.btn-animated {
  animation: moveInButton 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

/*# sourceMappingURL=main.css.map */
